<footer>
    <div class="container">
        <div class="copyright">
        Copyright &copy; 2022
        </div>
        
        <div class="address">
            <p>Goodbeers Inc.<br>
            35-41 Drymuir Road<br>
            Edinburgh EH16 1UU</p>
        
            <ul class="list-unstyled">
                <li>
                    <a href="/terms-conditions">Terms & Conditions</a>
                </li>
                <li>
                    <a href="/contact-us">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</footer>